.httr-oauth
summary.pdf
summary.log
summary_cache
FERCpaper2019.synctex.gz
FERCpaper2019.out
FERCpaper2019.log
FERCpaper2019.bbl
FERCpaper2019.aux
2020AESS_cache
FERCpaper2019.blg
FERCpaper2021.bbl
FERCpaper2021.log
FERCpaper2021.synctex.gz
FERCsummary_cache
