dime_contributors.gz
DIME500.csv
correspondence.RData
pac_contributions.Rdata
all_contacts.rdata
all_contacts2019.RData
all_contacts_committees.rdata
dcounts.Rdata
all_contacts2.RData
all_contacts2020.rdata
all_contacts2020_committees.rdata
members_all.csv
HSall_members.csv
DOE_FERC-letters-clean.Rdata
agencies
.Rapp.history
